/*font import*/

@font-face {
font-family:"amalfi" ;
src : url("fonts/amalfi.otf");
src: local(amalfi),
url("fonts/amalfi.ttf")
url(‘fonts/amalfi.svg#amalfi’) format("svg") ;
}

@font-face {
font-family:"cocogoose";
src : url("fonts/cocogoose.otf");
src: local(cocogoose),
url("fonts/cocogoose.ttf")
url(‘fonts/cocogoose.svg#cocogoose’) format("svg") ;
}
@font-face {
font-family:"mallie";
src : url("fonts/mallie.otf");
src: local(mallie),
url("fonts/mallie.ttf")
url(‘fonts/mallie.svg#mallie’) format("svg") ;
}

#contact { 
	border-bottom: 1.5px;
	border-style:solid;  
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom-color:#87868d ;
	padding-bottom:5px;
	color: #87868d;
	border-bottom: transparent 20%;
}

header { 

	height: 50px;
	margin-top:50px;
	background-color: white;
	display: block;
	text-align: right;
	padding-right: 10%;
	display : flex ; 
	flex-direction : row;
	justify-content : space-between;
	align-items : center;
	
}

}

header ul {

	justify-content : space-between; 
	align-items: center;
	padding: 0;
	margin:0;
	
}

header ul, header li {
	display: inline-block;
	cursor : pointer;
	padding: 6px 30px;
	
}

/*link*/

.index {
	color: black;
	text-decoration: none;
	font-family:'cocogoose';
	list-style: none;
	font-size:15px;
}
header li {transition-duration: 700ms;}

.liste :hover{
	border-bottom: 1.5px;
	border-style:solid;  
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom-color:#87868d ;
	padding-bottom:5px;
	color: #87868d;
	border-bottom: transparent 20%;
	transition-duration:500ms;
}


header h1 {
	font-family:'amalfi';
	color: black;
	font-size: 20px;
	padding-left: 15%;
	/*transition-duration:700ms;*/
}

#texte {
	background-color: #EBEEF0FF;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	display: block;
	height: 500px;
	width:100%;
	background-color: #EBEEF0FF;
	position: absolute;
	padding: 0;
  	right: 0;
  	left: 0;
  	margin-top:50px;
  	font-size: 15px;
  }

span {
font-size: 20px;
padding-top: 70px;
color: #87868d;
display: block;
text-align:justify-all;
}
#texte h2 {
	padding-top: 50px; 
	font-size: 40px;
	font-family:'Josefin Sans', sans-serif;
	color: #87868d;
	font-weight: normal;
}
#texte span a:hover {
	color: black;

}

#texte span a {
	text-decoration: none;
	color: #4C474B;


}

