/*font import*/

@font-face {
font-family:"amalfi" ;
src : url("fonts/amalfi.otf");
src: local(amalfi),
url("fonts/amalfi.ttf")
url(‘fonts/amalfi.svg#amalfi’) format("svg") ;
}
@font-face {
font-family:"cocogoose";
src : url("fonts/cocogoose.otf");
src: local(cocogoose),
url("fonts/cocogoose.ttf")
url(‘fonts/cocogoose.svg#cocogoose’) format("svg") ;
}
@font-face {
font-family:"mallie";
src : url("fonts/mallie.otf");
src: local(mallie),
url("fonts/mallie.ttf")
url(‘fonts/mallie.svg#mallie’) format("svg") ;
}

#realisations { 
	border-bottom: 1.5px;
	border-style:solid;  
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom-color:#87868d ;
	padding-bottom:5px;
	color: #87868d;
	border-bottom: transparent 20%;
}

header { 

	height: 50px;
	margin-top:50px;
	background-color: white;
	display: block;
	text-align: right;
	padding-right: 10%;
	display : flex ; 
	flex-direction : row;
	justify-content : space-between;
	align-items : center;}


header ul {

	justify-content : space-between; 
	align-items: center;
	padding: 0;
	margin:0;
	
}

header ul, header li {
	display: inline-block;
	cursor : pointer;
	padding: 6px 30px;
	
}
.index {
	color: black;
	text-decoration: none;
	font-family:'cocogoose';
	list-style: none;
	font-size:15px;
}
header li {transition-duration: 700ms;}

.liste :hover{
	border-bottom: 1.5px;
	border-style:solid;  
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom-color:#87868d ;
	padding-bottom:5px;
	color: #87868d;
	border-bottom: transparent 20%;
	transition-duration:500ms;
}


header h1 {
	font-family:'amalfi';
	color: black;
	font-size: 20px;
	padding-left: 15%;
	/*transition-duration:700ms;*/}


content {
	text-decoration: none;
  	position: absolute;
	text-align: center;
	width:100%;
  	background-color: #EBEEF0FF;
	text-align: center;
	display: block;
	padding: 0;
  	right: 0;
  	left: 0;
  	margin-top:50px;
  }

content ul {
text-decoration: none;
margin:0;
padding: 0;
height: 600px;
margin-top:150px;
}



content li {
	text-decoration: none;
	display: block;
	margin:0;
	height: 130px;
	}


content a {
	margin: 0;
	list-style: none;
	color: white;
	text-decoration: none;
	font-family: 'cocogoose';
	border-radius: 35px;
  	padding: 15px 20px;
  	cursor: pointer;
  	border: none;
  	box-shadow: 0px 0px 4px 1px #C4C3C3;
}

#a {
	background-color:#E2B9D8;}

#b {
	background-color: #D39EC5;
}

#c {
	background-color:#B27DA4 ;
}

#d {
	background-color: #935E85;
}

#a:hover 
{
	transition-duration: 800ms;
	background-color: violet transparent;
	opacity: 80%;
}
#b:hover 
{
	transition-duration: 800ms;
	background-color: violet transparent;
	opacity: 80%;
}
#c:hover 
{
	transition-duration: 800ms;
	background-color: violet transparent;
	opacity: 80%;
}


#d:hover 
{
	transition-duration: 800ms;
	background-color: violet transparent;
	opacity: 80%;
}

content h2 {
	padding-top: 70px; 
	font-size: 40px;
	font-family:'Josefin Sans', sans-serif;;
	color: #87868d;
	font-weight: normal;
 }




/*content ul {
	text-decoration: none;
	border:solid red;
	list-style: none;
	list-style-position: center;
	height: 100%;
	display: block;
	width: 20%;
	margin right: auto;
	margin left: auto;
	position: absolute;
	z-index: 4;
}

content li {
line-height;
text-decoration: none;
align-items: center;
border:solid grey;
list-style: none;
width: 200px;
display : flex ; 
flex-direction :column;
font-family: 'cocogoose';
}

content a {
	border: solid pink;
	background-color: 30px
}
*/
